@charset "UTF-8";
/* CSS Document */
html, body {
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	line-height: 26px;
	margin: 0;
	padding: 0;
	-webkit-animation: fadein 1.5s;
	-moz-animation: fadein 1.5s;
	-ms-animation: fadein 1.5s;
	-o-animation: fadein 1.5s;
	animation: fadein 1.5s;
	-webkit-font-smoothing: antialiased!important;
	-moz-osx-font-smoothing: grayscale!important
}
body.fadeout {
	opacity: 0;
	transition: none
}
@keyframes fadein {
from {
opacity:0
}
to {
opacity:1
}
}
@-moz-keyframes fadein {
from {
opacity:0
}
to {
opacity:1
}
}
@-webkit-keyframes fadein {
from {
opacity:0
}
to {
opacity:1
}
}
.sticky-wrapper.is-sticky {
	position: relative;
	z-index: 9999;
}
h1, h2, h3, h4, h5, h6, p, ul {
	margin: 0;
	padding: 0;
}
.form-group {
	position: relative;
}
.search-bar .blogs .dropdown-menu {
	display: none;
}
.dropdown:hover .dropdown-menu {
	margin-top: 0;
	opacity: 1;
	visibility: visible;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
}
.form-control {
	position: relative;
	background-color: transparent;
}
.form-group label {
	position: absolute;
	left: 26px;
	top: 19px;
	z-index: 2;
	pointer-events: none;
	color: #999999;
	font-weight: 500;
	font-size: 14px;
	transition: 0.3s ease;
}
.form-group.focused label {
	color: #4c35b0;
}
.form-group input:focus + label {
	top: 2px;
	font-size: 12px;
	opacity: 1;
	color: #4c35b0;
}
.form-group label.focus-label {
	top: 2px;
	font-size: 12px;
	opacity: 1;
}
.blogs .dropdown-menu {
	min-width: 320px;
	border: none;
	opacity: 0;
	visibility: hidden;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
}
.blogs .dropdown-menu li {
	display: block;
	overflow: hidden;
}
.blogs .dropdown-menu li a, .popular-blogs li a {
	padding: 10px 3px 10px 13px;
	display: block;
	overflow: hidden;
}
.blogs .dropdown-menu li a .thubnail, .popular-blogs li a .thubnail {
	width: 60px;
	float: left;
	height: 60px;
	background-color: #d8d8d8;
}
.blogs .dropdown-menu li.see-all {
	padding: 10px 0 20px;
}
.blogs .dropdown-menu li.see-all a {
	padding: 0;
	max-width: 186px;
	margin: 0 auto;
}
.blogs .dropdown-menu li a .thubnail img, .popular-blogs li a .thubnail img {
	width: 100%;
}
.blogs .dropdown-menu li a .elipsis-text, .popular-blogs li a .elipsis-text, .featured-description .elipsis-text {
	float: left;
	width: 74%;
	margin: 10px 0 10px 10px;
	display: -webkit-box!important;
	-webkit-line-clamp: 2;
	-moz-line-clamp: 2;
	-ms-line-clamp: 2;
	-o-line-clamp: 2;
	line-clamp: 2;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-ms-box-orient: vertical;
	-o-box-orient: vertical;
	box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
	height: 29px;
}
.blogs.events .dropdown-menu li a .elipsis-text {
	margin: 4px 0 2px 10px;
	height: 15px;
}
.blogs.events .dropdown-menu li a p {
	display: block;
	text-transform: capitalize;
	color: #37118b;
	font-size: 13px;
	float: left;
	overflow: hidden;
	margin-left: 10px;
	width: 74%;
}
.blogs.events .dropdown-menu li a h3 {
	float: left;
	margin-left: 10px;
	font-size: 15px;
	font-weight: 600;
}
.featured-description .elipsis-text {
	height: 45px;
	width: 100%;
	margin: 12px 0 8px;
}
.blogs .dropdown-menu li a .elipsis-text h4, .popular-blogs .elipsis-text h4, .featured-description .elipsis-text p {
	font-size: 13px;
	white-space: initial;
}
.featured-description .elipsis-text p {
	padding: 10px 0 0;
	color: #6b8191;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
	outline: none;
}
a:hover, a:focus {
	outline: none;
	text-decoration: none;
	border: none;
}
input[type=button], input[type=reset], input[type=submit] {
	-webkit-appearance: none;
	outline: none;
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
 -webkit-appearance: none;
 margin: 0;
}
.form-control:-webkit-autofill {
 -webkit-box-shadow:0 0 0 100px #fff inset;
 box-shadow:0 0 0 100px #fff inset;
 -webkit-text-fill-color:#222;
 transition:background-color 5000s ease-in-out 0s
}
.overlay {
	position: fixed;
	top: 0;
	display: none;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.35);
	z-index: 9999;
}
.overflow {
	overflow: hidden;
}
#overlay {
	position: fixed;
	left: 0;
	padding: 5px;
	overflow: hidden;
	-webkit-justify-content: center;
	width: 100%;
	top: 94px;
	z-index: 99999;
	height: 100%;
	background: #fff;
	transition: 1s opacity ease-in;
	display: flex;
	display: -webkit-flex;
}
.loader {
	display: block;
	padding-top: 12px;
}
.circle {
	width: 10px;
	height: 10px;
	background-color: #37118b;
	margin-right: 3px;
	display: inline-block;
	border-radius: 50px;
	-webkit-animation: dot-keyframes .7s infinite ease-in-out;
	animation: dot-keyframes .7s infinite ease-in-out;
}
@-webkit-keyframes dot-keyframes {
 0% {
 opacity: 1;
}
 50% {
 opacity: .4;
}
 100% {
 opacity: .4;
}
}
.nav>li.home {
	display: block;
}
@keyframes dot-keyframes {
 0% {
 opacity: 1;
}
 50% {
 opacity: .4;
}
 100% {
 opacity: .4;
}
}
.circle:nth-child(2) {
	-webkit-animation-delay: .3s;
	animation-delay: .3s;
}
.circle:nth-child(3) {
	-webkit-animation-delay: .5s;
	animation-delay: .5s;
}
.chat {
	position: fixed;
	bottom: 70px;
	right: 20px;
	z-index: 9;
	width: 41px;
	line-height: 37px;
	text-align: center;
	height: 41px;
	border-radius: 50px;
	background-color: #dd3c23;
}
.purple {
	color: #4c35b0 !important;
}
/* Swiper Prev Next Isssu Solution */
.swiper-event, .swiper-company {
	position: relative;
	width: 100%;
}
.swiper-company .swiper-pagination {
	display: none;
}
.event-slider .swiper-container-events.swiper-container, .swiper-company .swiper-container.swiper-container-companies {
	width: 96%;
	margin: 0 auto;
}
.swiper-prev, .swiper-next {
	position: absolute;
	width: 37px;
	height: 37px;
	border-radius: 50px;
	outline: none;
	box-shadow: none;
	line-height: 30px;
	text-align: center;
	background-color: #fff;
	border: 1px solid #ececec;
	transition: all 0.5s ease-in-out;
	top: 0;
	transform: translateY(50%);
}
.swiper-prev .active, .swiper-next .active, .swiper-prev:hover .deactive, .swiper-next:hover .deactive {
	display: none;
}
.swiper-prev:hover .active, .swiper-next:hover .active {
	display: inline-block;
}
.swiper-prev:hover, .swiper-next:hover {
	background-color: #503fae;
	transition: all 0.5s ease-in-out;
}
.swiper-prev {
	left: -20px;
}
.swiper-next {
	right: -20px;
}
.login-signup {
	float: right;
}
.login-signup .login a {
	display: block;
	color: #4b39ac;
	min-width: 115px;
	height: 32px;
	line-height: 30px;
	border-radius: 5px;
	border: 1px solid #4b39ac;
	text-align: center;
	font-size: 14px;
	transition: all 0.3s ease-in-out;
}
.swiper-container-companies .swiper-button-prev, .swiper-container-companies .swiper-button-next {
	top: 26%;
}
header {
	min-height: 94px;
	position: relative;
	z-index: 999;
}
.popular-search {
	position: relative;
	top: 36px;
}
.popular-search p {
	padding: 20px 0 10px 13px;
	color: #37118b;
	font-size: 15px;
}
.popular-search .dropdown-menu {
	min-width: 364px;
	margin: 0;
	box-shadow: 0.968px 3.881px 8px 0px rgba(80, 80, 80, 0.21);
}
.popular-search .dropdown-menu.show {
	opacity: 1;
	visibility: visible;
}
.search-bar {
	position: relative;
	padding: 28px 0;
	margin-left: 136px;
	display: inline-block;
}
.search-bar input {
	min-width: 313px;
	height: 38px;
	font-size: 15px;
	padding: 12px;
	padding-left: 40px;
	border: none;
	background: url(../img/search.svg) calc(9% - 15px) center no-repeat #fff;
	border-bottom: 1px solid #d9d9d9;
	outline: none;
	box-shadow: none;
	float: left;
	transition: all 0.3s ease-in-out;
}
.search-bar input:focus {
	background-color: #f9f9f9;
	transition: all 0.3s ease-in-out;
}
.search-bar button {
	position: absolute;
	right: 0;
	box-shadow: none;
	outline: none;
	height: 38px;
	width: 36px;
	text-align: center;
	border: none;
	background-color: #f1f1f1;
}
.navbar-default {
	background-color: #fff;
	height: 94px;
	z-index: 9;
}
.navbar-default .container {
	padding: 0;
}
.navbar-brand {
	height: 94px;
	line-height: normal;
	padding: 18px 15px;
}
.navbar-default .navbar-nav>li>a {
	padding: 36.6px 37px;
	position: relative;
	font-size: 15px;
	color: #333;
	transition: all 0.3s ease-in-out;
}
.navbar-default .navbar-nav>li:last-of-type a {
	margin-right: 20px;
}
.navbar-default .navbar-nav>li.dropdown:last-of-type a {
	margin-right: auto;
}
.navbar-default .nav>li>a>img {
	margin-left: 2px;
	margin-top: -1px;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:active:hover, .navbar-default .navbar-nav>li>a:focus:hover, .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	background-color: rgba(76,53,176,0.035);
	transition: all 0.3s ease-in-out;
}
/*.navbar-default .navbar-nav>li>a:hover:after{
	position: absolute;
	bottom: 0;
	content: '';
	left: 0;
	right: 0;
	width: 100%;
	height: 2px;
	background-color: #503fae;
	
}
.navbar-default .navbar-nav>li.dropdown>.dropdown-menu>a:hover:after{
	content: normal;
}*/
.navbar-default .navbar-nav>li>a:active, .navbar-default .navbar-nav>li>a:visited, .navbar-default .navbar-nav>li>a:target {
	border-bottom: 2px solid #503fae;
}
.login-signup {
	padding: 30px 0 32px 34px;
}
.login-signup .logged-in {
	padding: 3px 0;
}
.logged-in .dropdown-menu {
	left: auto;
	border-radius: 0;
	min-width: 346px;
	border: none;
	opacity: 0;
	visibility: hidden;
	margin: 35px 0 0;
	box-shadow: 0px 3px 7px 0px rgba(229, 229, 229, 0.35);
	padding: 15px 70px 15px 18px;
	right: 0;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
}
.logged-in .dropdown-menu p {
	color: #999;
}
.login-signup .logged-in .dropdown-menu .border-button {
	color: #4b39ac;
	border-radius: 5px;
	text-transform: none;
	min-width: 99px;
	height: 35px;
	line-height: 32px;
	display: inline-block;
	padding: 0;
	font-size: 14px;
	margin: 15px 0 10px;
}
.login-signup .logged-in .dropdown-menu .border-button:hover, .login-signup .logged-in .dropdown-menu .border-button:focus {
	color: #fff;
}
.logged-in .dropdown-menu h3 {
	font-weight: 600;
	font-size: 16px;
	margin-bottom: 6px;
}
.login-signup .logged-in a {
	display: block;
	color: #333;
}
.login-signup .login a:focus, .login-signup .login a:hover {
	background-color: #4b39ac;
	color: #fff;
	transition: all 0.3s ease-in-out;
}
.login-signup .logged-in a img {
	margin-left: 4px;
}
/* Hero Slider */
.slider {
	position: relative;
	overflow: hidden;
}
.swiper-container-home .swiper-slide img {
	width: 100%;
}
.swiper-container-home.swiper-container-horizontal>.swiper-pagination-bullets {
	bottom: 70px;
}
.swiper-container-home .swiper-button-next, .swiper-container-home .swiper-button-prev {
	border-radius: 0;
	width: 40px;
	height: 43px;
	opacity: 0;
	background-size: 11px 20px;
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
.swiper-container-home .swiper-button-next {
	transform: translateX(100%);
}
.swiper-container-home .swiper-button-prev {
	transform: translateX(-100%);
}
.swiper-container-home .swiper-button-next.swiper-button-black {
	background-image: url("../img/next-arrow.svg");
}
.swiper-container-home .swiper-button-prev.swiper-button-black {
	background-image: url("../img/prev-arrow.svg");
}
/*.swiper-container-home .swiper-button-prev.swiper-button-black:hover
{
	background-image: url("../img/prev-arrow-active.svg");
	background-color: #503fae;
}
.swiper-container-home .swiper-button-next.swiper-button-black:hover
{
	background-image: url("../img/next-arrow-active.svg");
	background-color: #503fae;
}*/
.swiper-container-home:hover .swiper-button-next, .swiper-container-home:hover .swiper-button-prev {
	opacity: 1;
	transform: translateX(0);
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
.swiper-container-home .swiper-pagination-bullet {
	background: transparent;
	border: 1px solid #fff;
	opacity: 1;
}
.swiper-container-home .swiper-pagination-bullet-active {
	position: relative;
	top: 1px;
	width: 10px;
	height: 10px;
	background-color: #fff;
}
.swiper-slide .slide-title {
	position: absolute;
	top: 50%;
	width: 100%;
	margin: -63.5px auto;
	left: 0;
	right: 0;
	text-align: center;
}
.swiper-container-home.vtwo.vthree .swiper-pagination {
	bottom: 160px;
}
.swiper-container-home.vthree .swiper-slide .slide-title {
	margin: -140px auto;
}
.swiper-slide .slide-title button {
	-webkit-appearance: none;
	margin-bottom: 36px;
	cursor: pointer;
	background-color: transparent;
	color: #fff;
	padding: 0;
	font-weight: bold;
	border: none;
}
.swiper-slide .slide-title button span {
	vertical-align: middle;
}
.swiper-slide .slide-title button img {
	margin-right: 8px;
	width: initial;
}
.swiper-container-home.vtwo .swiper-slide .slide-title {
	width: 1170px;
	text-align: left;
}
.swiper-container-home.vtwo .swiper-pagination {
	width: 1170px;
	left: 0;
	right: 0;
	bottom: 160px;
	margin: 0 auto;
	text-align: left;
}
.swiper-slide .slide-title h2, .swiper-slide .slide-title h1 {
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
}
.swiper-slide a {
	display: block;
}
.swiper-slide .slide-title h1 {
	font-size: 86px;
}
.swiper-container-home.vtwo .swiper-slide .slide-title h1 {
	position: relative;
	left: -5px;
}
.login-wrapper {
	position: absolute;
	top: 50%;
	display: none;
	width: 100%;
	left: 0;
	height: 520px;
	right: 0;
	z-index: 9999;
	max-width: 658px;
	margin: -260px auto;
}
.login-wrapper.vtwo {
	display: block;
	width: 1170px;
	z-index: 9;
	height: auto;
	margin: -251px auto;
	max-width: none;
	max-height: 1px;
}
.swiper-slide .slide-title button img {
	transform: scale3d(1, 1, 1);
	transition: all 0.4s ease-in-out;
}
.swiper-slide .slide-title button img:hover {
	transform: scale3d(1.15, 1.15, 1.15);
	transition: all 0.4s ease-in-out;
}
.login-wrapper .left-section {
	position: relative;
	max-width: 246px;
	padding: 50px 30px 86px;
	color: #fff;
	height: 100%;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	float: left;
	background: #552eaf; /* Old browsers */
	background: -moz-linear-gradient(top, #552eaf 70%, #a445b0 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #552eaf 70%, #a445b0 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #552eaf 70%, #a445b0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#552eaf', endColorstr='#a445b0', GradientType=0 );
}
.login-wrapper.vtwo .right-section {
	border-radius: 15px;
	float: none;
	height: auto;
	margin-left: auto;
}
.login-wrapper.vtwo .login_signup {
	max-width: 382px;
}
.login-wrapper.vtwo .login_signup .nav-tabs>li {
	margin-right: 56px;
}
.login-wrapper.vtwo .login_signup .nav-tabs>li:last-of-type {
	margin-right: 0;
}
.login-wrapper.vtwo .social-login li a {
	padding: 10px 15px;
	font-size: 13px;
}
.login-wrapper.vtwo .login-form p {
	margin: 20px auto 12px;
}
.login-wrapper .left-section h2 {
	font-weight: bold;
	font-size: 26px;
	margin-bottom: 28px;
}
.login-wrapper.vtwo .login-options {
	margin-top: 15px;
}
.login-wrapper .left-section h4 {
	font-size: 16px;
	font-weight: bold;
	line-height: 25px;
}
.login-wrapper .left-section img {
	position: absolute;
	bottom: 60px;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.login_signup {
	padding: 38px 24px 14px 24px;
	z-index: 9;
	min-width: 412px;
	float: left;
	height: 100%;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: #fff;
}
.login_signup .nav-tabs {
	border-bottom: none;
	margin-bottom: 20px;
	width: 100%;
}
.login-form label {
	left: 12px;
}
.login_signup .nav-tabs>li {
	float: left;
	margin-right: 67px;
}
.login_signup .nav-tabs>li:last-of-type {
	margin-right: 0;
}
.login_signup .nav-tabs>li>a {
	transition: all 0.3s ease-in-out;
	border-bottom: 2px solid transparent;
	border: none;
	outline: none;
	padding: 10px 4px 10px 0;
	color: #1b2d48;
	display: inline-block;
}
.login_signup .nav-tabs>li.active>a, .login_signup .nav-tabs>li.active>a:focus, .login_signup .nav-tabs>li.active>a:hover, .login_signup .nav-tabs>li>a:hover {
	border: none;
	transition: all 0.3s ease-in-out;
	border-bottom: 2px solid #4b39ac;
	color: #4b39ac;
	font-weight: bold;
	background-color: transparent;
}
.login-form .form-group {
	position: relative;
}
.form-container.signup-form {
	display: none;
}
.login-form .form-group .validate {
	position: absolute;
	top: 16px;
	right: 20px;
}
.login-form .wrapper .otp {
	display: none;
}
.login-form .wrapper.otp-send .otp {
	display: block;
}
.login-form .wrapper.otp-send .login-options {
	margin: 10px 0;
}
.login-options span {
	font-size: 14px;
	padding-right: 5px;
}
.login-form .wrapper.otp-send fieldset .form-group {
	margin: 0;
}
.login-form .wrapper.otp-send .button {
	margin-top: 20px;
}
.login-form .form-group .login-form .wrapper.otp-send .form-group {
	margin-bottom: 10px;
}
.login-form .wrapper.otp-send p {
	margin: 8px 0;
}
.login-form fieldset .form-group {
	margin: 0;
}
.all-tech-media .nav.nav-tabs>li>a:hover {
	background-color: rgba(76,53,176,0.035);
	transition: all 0.3s ease-in-out;
}
.login-form .wrapper.otp-send .form-group:nth-child(2) .form-control {
	margin-top: -1px;
}
.login-form .form-control {
	border-radius: 0;
	position: relative;
	font-weight: bold;
	color: #333;
	border: 1px solid #e9e9e9;
	box-shadow: none;
	height: 63px;
	padding-top: 18px;
	transition: all 0.3s ease-in-out;
}
.login-form .form-group:first-of-type .form-control {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.login-form .form-group:last-of-type .form-control {
	margin-top: -1px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.login-form .form-control:focus {
	border-color: #4c35b0;
	z-index: 9999;
	transition: all 0.3s ease-in-out;
}
.login-wrapper .close-btn {
	position: absolute;
	right: -26px;
	top: 0;
	padding: 0;
	cursor: pointer;
	color: #fff;
	vertical-align: top;
}
.login-form .form-control:focus, .login-form .form-control:hover {
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}
.login-options {
	margin-top: 10px;
}
.login-options a {
	display: inline-block;
	font-size: 14px;
	color: #4c35b0;
}
.login-options a:last-of-type {
	float: right;
	color: #666;
}
.button {
	display: block;
	margin: 0 auto;
	min-width: 220px;
	height: 63px;
	font-weight: 700;
	font-size: 18px;
	text-align: center;
	box-shadow: none;
	outline: none;
	background-color: #4c35b0;
	color: #fff;
	border-radius: 5px;
	transition: all 0.3s ease-in-out;
}
.button:hover, .button:focus {
	background-color: #5c40d5;
	transition: all 0.3s ease-in-out;
}
.login-form .button {
	margin-top: 41px;
	border: none;
}
.login-form p {
	text-transform: lowercase;
	display: block;
	margin: 30px auto;
	color: #9ca3a8;
	text-align: center;
}
.social-login {
	width: 100%;
	padding-top: 10px;
	position: relative;
}
.social-login:before {
	position: absolute;
	content: '';
	min-width: 411px;
	height: 1px;
	left: -24px;
	right: -24px;
	top: 0;
	background-color: #eaeaea;
}
.login-wrapper.vtwo .social-login:before {
	min-width: initial;
}
.social-login li {
	display: inline-block;
}
.social-login li a {
	position: relative;
	display: block;
	vertical-align: middle;
	color: #444;
	padding: 10px 15px;
}
.social-login li a:after {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 1px;
	content: '';
	background-color: #eaeaea;
}
.social-login li:last-of-type a:after {
	content: none;
}
.social-login li a img {
	margin-right: 8px;
}
/* Event Slider */
.event-slider {
	background-color: #e8f2f9;
	padding: 30px 0;
}
.event-wrapper {
	padding: 8px 15px;
	background-color: #fff;
	border-radius: 5px;
	display: block;
	overflow: hidden;
}
.event-wrapper .event-desc, .event-wrapper .event-img {
	float: left;
}
.event-wrapper .event-img {
	margin-right: 12px;
}
.event-wrapper .event-img img {
	border: 1px solid #e3edf5;
	width: 52px;
	height: 52px;
}
.swiper-container-events .swiper-button-next {
	right: 0;
}
.swiper-container-events .swiper-button-prev {
	left: 0;
}
.event-wrapper .event-desc {
	padding: 8px 0 8px 6px;
}
.event-wrapper .event-desc h4 {
	font-weight: bold;
	font-size: 14px;
	color: #1b2d48;
	margin-bottom: 2px;
}
.event-wrapper .event-desc p {
	color: #6b8191;
	font-size: 12px;
}
/* Practice Coding. Compete. Find Jobs. */
.practise-coding {
	padding: 64px 0;
	background-color: #f5f9fc;
}
.section-title h1 {
	font-size: 30px;
	font-weight: bold;
	text-transform: capitalize;
	color: #1b2d48;
	text-align: center;
	margin-bottom: 44px;
}
.grid-box {
	background-color: #fff;
	padding: 44px 24px;
	text-align: center;
	max-height: 355px;
	border-radius: 10px;
	box-shadow: 0px 3px 43px 0px rgba(194, 215, 227, 0.41);
}
.grid-title, .grid-box .description {
	margin-bottom: 44px;
}
.grid-title img {
	margin-right: 20px;
	display: inline-block;
}
.grid-title h3 {
	display: inline-block;
	font-size: 20px;
	color: #333;
	font-weight: bold;
}
.grid-box .description p {
	color: #6c8190;
	font-size: 18px;
	max-height: 104px;
	overflow: hidden;
}
.grid-box .action a {
	color: #4c35b0;
	display: inline-block;
}
.grid-box .action a img {
	display: inline-block;
	margin-left: 10px;
	padding-left: 0;
	transition: 0.5s padding-left;
}
.grid-box:hover .action a img {
	padding-left: 4px;
	transition: 0.5s padding-left;
}
.companies {
	background-color: #e8f2f9;
	padding: 52px 0 25px;
}
.companies .company-img {
	border: 1px solid #eff2f5;
}
.swiper-container-companies .swiper-wrapper {
	padding-bottom: 50px;
}
.swiper-event .swiper-prev.disabled, .swiper-event .swiper-next.disabled {
	display: none;
}
.swiper-event .swiper-wrapper.disabled {
	transform: translate3d(0px, 0, 0) !important;
}
.swiper-event .swiper-wrapper.disabled .swiper-slide {
	width: auto !important;
}
.swiper-container-companies .swiper-pagination {
	bottom: 0;
}
/* Upcoming Events */
.upcoming-events {
	padding: 64px 0 84px;
}
.upcoming-events .register-for-event {
	margin-top: 36px;
}
.register-for-event .sponser {
	margin-bottom: 58px;
}
.event-description h1 {
	font-weight: bold;
	color: #1b2d48;
	font-size: 30px;
	margin-bottom: 40px;
}
.event-description p {
	color: #6b8191;
	font-size: 18px;
	margin-bottom: 38px;
}
.swiper-container-upcoming-events .swiper-wrapper {
	padding-bottom: 50px;
}
.event-description .border-button {
	min-width: 242px;
	height: 63px;
	color: #4c35b0;
	border: 1px solid #4c35b0;
	border-radius: 50px;
	line-height: 63px;
	font-weight: 600;
	cursor: pointer;
	text-align: center;
	transition: all 0.3s ease-in-out;
	display: inline-block;
}
.upcoming-events .main-image img {
	width: 100%;
	display: block;
}
.event-description .border-button:hover, .event-description .border-button:focus {
	background-color: #4c35b0;
	color: #fff;
	transition: all 0.3s ease-in-out;
}
/* Featured Hackathons */
.featured-hackathons {
	background-color: #f5f9fc;
	padding: 64px 0 74px;
}
.featured {
	background-color: #fff;
	overflow: hidden;
	max-height: 292px;
	border: 1px solid #ebebeb;
}
.featured-wrapper {
	overflow: hidden;
	padding-bottom: 60px;
}
.featured-image img {
	width: 100%;
}
.featured-description {
	padding: 22px 25px 22px 17px;
}
.featured-description img {
	display: block;
}
.featured-description p {
	font-size: 12px;
	padding: 23px 0 18px 0;
	color: #1b2d48;
	line-height: 20px;
}
.featured-description .register-now a, .featured-description .register-now img {
	display: inline-block;
	font-size: 15px;
	vertical-align: middle;
}
.featured-description .register-now img {
	margin-left: 8px;
	padding-left: 0;
	transition: 0.3s padding-left ease-in;
}
.featured-description .register-now a:hover img {
	padding-left: 3px;
	transition: 0.3s padding-left ease-in;
}
.see-all {
	display: block;
	text-align: center;
}
.see-all .border-button, .border-button {
	cursor: pointer;
	text-transform: capitalize;
	display: inline-block;
	min-width: 186px;
	height: 48px;
	line-height: 48px;
	color: #4c35b0;
	background-color: transparent;
	border: 1px solid #4c35b0;
	text-align: center;
	border-radius: 50px;
	font-weight: 600;
	transition: all 0.3s ease-in-out;
}
.signup-email .border-button {
	height: 63px;
	line-height: 63px;
	min-width: 242px;
	margin-top: 14px;
}
.see-all .border-button:hover, .see-all .border-button:focus, .border-button:hover, .border-button:focus {
	background-color: #4c35b0;
	color: #fff;
	border: 1px solid #4c35b0;
	transition: all 0.3s ease-in-out;
}
/* Tech Media */
.tech-media {
	padding: 50px 0 64px;
}
.all-tech-media {
	max-height: 366px;
	margin-bottom: 56px;
	overflow: hidden;
}
.all-tech-media .col-md-5, .all-tech-media .col-md-7 {
	padding: 0;
}
.tech-media .nav-tabs {
	border-bottom: none;
}
.tech-media .nav-tabs>li {
	margin-bottom: 0;
	width: 100%;
	border-top: 1px solid #ebebeb;
	border-left: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
}
.tech-media .nav-tabs>li:nth-child(1), .tech-media .nav-tabs>li:nth-child(2), .tech-media .nav-tabs>li:nth-child(3) {
	border-bottom: none;
}
.tech-media .nav-tabs>li>a {
	padding: 30px 50px 30px 25px;
	font-size: 14px;
	font-weight: 600;
	border-radius: 0;
	margin-right: 0;
	display: block;
	border: none;
	color: #1b2d48;
}
.tech-media .nav-tabs>li>a:hover, .tech-media .nav-tabs>li>a:focus, .tech-media .nav-tabs>li>a:active:hover, .tech-media .nav-tabs>li>a:active:focus {
	border: none;
}
.tech-media .nav-tabs>li.active {
	border-left: 3px solid #4c35b0;
}
.tech-media .nav-tabs>li.active>a {
	color: #4c35b0;
}
.tech-media .media-img img {
	width: 100%;
}
/* Testimonial */
.testimonial {
	padding: 76px 0 28px;
	background-color: #f5f9fc;
}
.testimonial .nav-tabs {
	text-align: center;
	border-bottom: 1px solid #d2e1ed;
}
.testimonial .nav-tabs>li {
	float: none;
	display: inline-block;
}
.testimonial .nav-tabs>li>a {
	font-size: 18px;
	padding: 18px 26px;
	border: none;
	cursor: pointer;
	color: #333;
	border-bottom: 3px solid transparent;
	transition: all 0.3s ease-in-out;
}
.testimonial .nav-tabs>li>a:hover, .testimonial .nav-tabs>li>a:focus, .testimonial .nav-tabs>li>a:active:hover, .testimonial .nav-tabs>li>a:active:focus {
	background-color: transparent;
	font-weight: bold;
	color: #4c35b0;
	border: none;
	border-bottom: 3px solid #5e23dd;
	transition: all 0.3s ease-in-out;
}
.testimonial .nav-tabs>li>a:first-of-type {
	margin-left: 78px;
}
.testimonial .nav-tabs>li.active>a {
	background-color: transparent;
	font-weight: bold;
	color: #4c35b0;
	border-bottom: 3px solid #5e23dd;
}
.testimonial .tab-content {
	padding: 40px 0;
}
.swiper-container.swiper-container-testimonial {
	padding-bottom: 54px;
}
.swiper-container.swiper-container-testimonial .swiper-pagination {
	bottom: 0;
}
.client-feeback {
	background-color: #fff;
	border-radius: 20px;
	padding: 30px 22px 35px;
	box-shadow: 0px 3px 43px 0px rgba(194, 215, 227, 0.41);
}
.client-info {
	margin-bottom: 20px;
	overflow: hidden;
}
.client-img {
	float: left;
	margin-right: 20px;
}
.client-img img {
	width: 62px;
	height: 62px;
	border-radius: 50px;
}
.client-name {
	float: left;
	padding: 15px 0;
}
.client-name h3 {
	color: #1b2d48;
	font-size: 16px;
	font-weight: bold;
}
.client-name p {
	font-size: 13px;
	color: #6b8191;
}
.feedback {
	font-size: 18px;
	color: #6b8191;
	width: 100%;
	max-height: 106px;
	overflow: hidden;
}
/* Start Getting Noticed */
.start-noticed {
	padding: 112px 0 98px;
	background: url("../img/skills-bg.png") no-repeat center center / cover;
	background-attachment: fixed;
}
.mob-btn
{
	display: none;
	text-align: center;
	text-transform: capitalize;
}
.mob-btn .border-button
{
	color: #fff;
	border-color: #fff;
}
.start-noticed .section-title h1 {
	color: #fff;
}
.registration-form .form-inline {
	display: block;
	overflow: hidden;
	padding: 28px 20px;
	background-color: #fff;
	border-radius: 3px;
}
.registration-form .form-inline .form-container {
	float: left;
	margin-right: 6px;
	width: 80%;
}
.registration-form .form-inline .form-group {
	width: 33.33%;
	float: left;
	position: relative;
}
.registration-form .form-inline .form-group .form-control {
	width: 100%;
	display: block;
}
.registration-form .form-inline .form-group .form-control {
	height: 63px;
	padding-top: 18px;
	padding-left: 20px;
	position: relative;
	color: #222;
	font-size: 16px;
	border-radius: 0;
	border: 1px solid #e9e9e9;
	box-shadow: none;
	outline: none;
	transition: all 0.3s ease-in-out;
}
.registration-form .form-group .form-control:focus {
	border-color: #4c35b0;
	z-index: 9999;
	transition: all 0.3s ease-in-out;
}
.registration-form .form-group:nth-child(2) .form-control {
	margin-left: -1px;
}
.registration-form .form-group:nth-child(3) .form-control {
	margin-left: -2px;
}
.registration-form .form-inline .form-group .form-control ~ label {
	left: 20px;
}
.registration-form .form-inline .form-group .form-control:hover, .registration-form .form-inline .form-group .form-control:focus {
	box-shadow: none;
}
.registration-form .get-started {
	float: left;
}
.registration-form .get-started .button {
	width: 100%;
	min-width: initial;
	padding: 0 20px;
	display: block;
	border: none;
	height: 63px;
	text-transform: capitalize;
}
.registration-form .agree-to-terms, .registration-form .agree-to-terms a {
	color: #fff;
	margin-top: 15px;
	font-size: 12px;
}
.registration-form .agree-to-terms a {
	text-decoration: underline;
}
/* Our Team */
.our-team {
	padding: 64px 0 76px;
	background-color: #f4f9fc;
}
.team-box {
	position: relative;
	background-color: #fff;
	padding: 28px 15px 40px;
	border-radius: 10px;
	text-align: center;
	box-shadow: 0px 3px 43px 0px rgba(194, 215, 227, 0.41);
}
.swiper-container.swiper-container-team {
	padding-bottom: 50px;
}
.swiper-container.swiper-container-team .swiper-pagination {
	bottom: 0;
}
.team-box .linkedin {
	position: absolute;
	top: 18px;
	width: 30px;
	height: 30px;
	background-color: #cdcdcd;
	border-radius: 50px;
	right: 15px;
	transition: all 0.3s ease-in-out;
}
.team-box .linkedin:hover, .team-box .linkedin:focus {
	background-color: #2c7db1;
	transition: all 0.3s ease-in-out;
}
.member-img img {
	width: 118px;
	height: 118px;
	border-radius: 50px;
}
.member-name {
	padding: 20px 0;
}
.member-name h4 {
	color: #1c2e47;
	font-weight: 600;
}
.member-name p {
	font-size: 14px;
	color: #282c3f;
}
.member-intro {
	text-align: left;
	font-size: 13px;
	line-height: 20px;
	color: #6c8190;
	max-height: 142px;
	overflow: hidden;
}
/* Footer */
.footer {
	position: relative;
	padding: 54px 0 34px;
	font-size: 13px;
	background: url("../img/footer-bg.png") center center no-repeat / cover;
	background-attachment: fixed;
}
.footer h6 {
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;
}
.keep-in-touch {
	margin-top: 90px;
}
.keep-in-touch h6 {
	margin-bottom: 18px;
}
.keep-in-touch li {
	display: inline-block;
	margin-right: 6px;
}
.keep-in-touch li:last-of-type {
	margin-right: 0;
}
.keep-in-touch li a {
	display: block;
	width: 27px;
	height: 27px;
	line-height: 24px;
	text-align: center;
	border-radius: 50px;
	background-color: #fff;
}
.col-push-1 {
	position: relative;
	left: 3%;
}
.col-offset-1 {
	position: relative;
	right: 2%;
}
.footer .col-md-8 h6 {
	margin-bottom: 28px;
}
.footer .col-md-8 a {
	display: block;
	padding: 4px 0;
	text-transform: capitalize;
	color: #fff;
	transition: all 0.3s ease-in-out;
}
.footer .col-md-8 a:hover {
	color: rgba(255,255,255,0.76);
	transition: all 0.3s ease-in-out;
}
.footer .copyright {
	text-align: center;
	color: #fff;
	margin-top: 70px;
}
#go-top {
	position: fixed;
	bottom: 20px;
	z-index: 99;
	display: none;
	right: 20px;
	background-color: #fff;
	width: 34px;
	height: 34px;
	line-height: 30px;
	border: 1px solid #ededf5;
	border-radius: 50px;
	text-align: center;
}
/* About Us */
.aboutus-page {
	background-color: #f5f9fc;
	padding-bottom: 220px;
}
.aboutus-page .row {
	margin: 0;
}
.aboutus-page .container {
	padding: 0;
}
.hero-bg {
	position: relative;
}
.hero-bg img {
	width: 100%;
}
.hero-bg h1 {
	position: absolute;
	font-size: 30px;
	font-weight: bold;
	color: #fff;
	left: 0;
	right: 0;
	text-align: center;
	top: 40px;
}
.about-tabs {
	position: relative;
	top: -65px;
	padding: 20px 0 0;
	/*min-width: 268px;
	float: left;*/
	min-height: 572px;
	background-color: #fff;
	box-shadow: 0px 3px 7px 0px rgba(229, 229, 229, 0.35);
}
.about-tabs .nav-tabs {
	border: none;
}
.about-tabs .nav-tabs>li {
	display: block;
	float: none;
}
.about-tabs .nav-tabs>li>a {
	margin-right: 0;
	padding: 18px 20px;
	border-left: 3px solid transparent;
	border-top: none;
	border-right: none;
	border-bottom: none;
	text-transform: capitalize;
	color: #666666;
	font-size: 16px;
	border-radius: 0;
	text-decoration: none;
	outline: none;
	transition: all 0.3s ease-in-out;
}
.about-tabs .nav-tabs>li.active>a, .about-tabs .nav-tabs>li>a:hover, .about-tabs .nav-tabs>li>a:focus, .about-tabs .nav-tabs>li>a:active:hover, .about-tabs .nav-tabs>li>a:active:focus {
	border-left: 3px solid #4b39ac;
	border-top: none;
	border-right: none;
	border-bottom: none;
	color: #4b39ac;
	transition: all 0.3s ease-in-out;
	font-weight: 600;
}
.about-pane, .search-pane {
	margin: 66px 0 0 15px;
	width: 73%;
	padding: 30px 15px 50px 24px;
	background-color: #fff;
	box-shadow: 0px 3px 7px 0px rgba(229, 229, 229, 0.35);
}
.about-pane .title {
	font-size: 30px;
	text-transform: capitalize;
	font-weight: bold;
	color: #000;
	margin-bottom: 34px;
}
#aboutus p, #aboutus ul li {
	font-size: 14px;
	margin-bottom: 30px;
	line-height: 25px;
	color: #000;
}
#aboutus p a {
	color: #5442ae;
	text-decoration: underline;
}
#aboutus ul {
	margin-bottom: 30px;
}
#aboutus ul li {
	margin-bottom: 3px;
}
.about-pane h4 {
	font-size: 16px;
	margin-bottom: 30px;
	font-weight: 600;
}
/* Event Detail */
.mfp-bg, .mfp-wrap {
	z-index: 99999 !important;
}
.event-content {
	position: relative;
}
.event-bg img {
	width: 100%;
	display: block;
}
.tabs {
	width: 100%;
	min-height: 97px;
	background-color: #fff;
}
#sticky-wrapper .event-tabs {
	border-bottom: 1px solid #e7e7e7;
	background-color: #fff;
}
.tabs li {
	float: left;
	width: 16.6666%;
	text-align: center;
}
.tabs li.gallery {
	display: none;
}
.event-complete .tabs li {
	width: 14.28571%;
}
.event-complete .tabs li.gallery {
	display: inline-block;
}
#gallery {
	display: none;
}
.event-complete #gallery {
	display: block;
}
.tabs li a {
	display: block;
	color: #333;
	font-size: 16px;
	text-transform: capitalize;
	padding: 34.5px 25px;
	border-bottom: 2px solid transparent;
	transition: all 0.3s ease-in-out;
}
.tabs li a.active, .tabs li a:hover {
	color: #4b39ac;
	font-weight: 600;
	border-bottom: 2px solid #4b39ac;
	transition: all 0.3s ease-in-out;
}
.upcoming-events {
	background-color: #fff;
}
.hackathon-schedule {
	background-color: #f5f9fc;
}
.upcoming-events .main-video {
	position: relative;
	z-index: 1;
}
.col-push-6 {
	position: relative;
	left: 6%;
}
.upcoming-events .main-video:after {
	position: absolute;
	z-index: -1;
	right: 50px;
	top: -30px;
	content: '';
	width: 403px;
	height: 403px;
	background-color: #fff;
	box-shadow: 0px 3px 43px 0px rgba(194, 215, 227, 0.41);
}
.about-event .upcoming-events .register-for-event {
	margin-top: 0;
}
.upcoming-events .main-video iframe {
	border: none;
	outline: none;
}
.hackathon-schedule {
	padding: 30px 0 72px 0;
}
.event-content .section-title {
	margin-bottom: 40px;
}
.event-content .section-title h1 {
	margin-bottom: 8px;
}
.section-title p {
	text-align: center;
	font-size: 18px;
	color: #1b2d48
}
.schedule .nav-tabs {
	background-color: #fff;
	padding: 38px 0 60px 0;
	box-shadow: 0px 3px 7px 0px rgba(229, 229, 229, 0.35);
	border: none;
}
.schedule .nav-tabs li {
	display: block;
	float: none;
	margin-bottom: 10px;
}
.schedule .nav-tabs li a {
	display: block;
	margin: 0;
	border-radius: 0;
	padding: 18px 15px;
	color: #333;
	border: none;
	border-left: 2px solid transparent;
}
.schedule .nav-tabs .venue {
	padding-left: 5px;
}
.schedule .nav-tabs li.active a, .schedule .nav-tabs li a:hover, .schedule .nav-tabs li a:focus, .schedule .nav-tabs li a:active:hover, .schedule .nav-tabs li a:active:focus {
	border: none;
	border-left: 3px solid #4b39ac;
	background-color: #f5f9fc;
	color: #4b39ac;
	font-weight: 600;
}
.schedule .tab-pane {
	box-shadow: 0px 3px 7px 0px rgba(229, 229, 229, 0.35);
	padding: 30px 0;
	background-color: #fff;
}
.schedule .tab-title {
	padding: 0 24px;
	margin-bottom: 15px;
}
.schedule .tab-title h3 {
	display: inline-block;
	font-size: 20px;
	font-weight: 600;
}
.schedule .tab-title a {
	float: right;
	vertical-align: middle;
	color: #4b39ac;
	font-size: 14px;
}
.schedule .tab-title a img {
	margin-right: 8px;
}
.schedule .table {
	margin-bottom: 15px;
}
.schedule .table>thead>tr>td {
	padding: 15px 24px;
	font-size: 14px;
	color: #1b2d48;
}
.schedule .table>tbody>tr>td {
	padding: 15px 24px;
	font-size: 14px;
	color: #1b2d48;
	font-weight: 600;
	border-color: #e9f1f6;
}
.schedule .table>tbody>tr>td img {
	margin-right: 12px;
}
.schedule .table>tbody>tr>td span {
	color: #cecece;
}
.schedule .table>tbody>tr:nth-child(even) {
	background-color: #fafcfd;
}
.schedule .table>tbody>tr>td:first-of-type {
	font-size: 16px;
}
/* Hackathon Challenges */
.hackathon-challenges {
	padding: 68px 0 110px 0;
}
.hackathon-challenges .col-md-3 {
	text-align: center;
}
.hackathon-challenges .col-md-3 .img-container {
	padding: 30px;
	min-height: 198px;
}
.hackathon-challenges .col-md-3 .img-container p {
	max-width: 122px;
	margin: 0 auto;
	font-size: 14px;
}
.hackathon-challenges .col-md-3 .img-container img {
	padding-bottom: 28px;
}
.hiring-opportunities {
	text-align: center;
	padding: 265px 0 330px;
	background: url("../img/hiring-opportunity.png") no-repeat center center / cover;
	background-attachment: fixed;
}
.mobile-media {
	display: none;
}
.hiring-opportunities h1 {
	color: #fff;
	font-size: 40px;
	font-weight: bold;
}
.judge {
	padding: 144px 0 120px;
	background-color: #f5f9fc;
}
.box-wrapper {
	position: relative;
	overflow: hidden;
	background-color: #fff;
	border: 1px solid #ebebeb;
}
.swiper-container.swiper-container-judge {
	padding-bottom: 65px;
}
.judge-img img {
	width: 100%;
}
.judge-detail {
	padding: 24px 14px 20px;
}
.judge-detail h3 {
	font-size: 14px;
	font-weight: bold;
}
.judge-detail p {
	font-size: 14px;
}
.partners {
	padding: 80px 0 96px;
	text-align: center;
}
.grey {
	color: #969696;
}
.partners .first-row {
	margin-bottom: 96px;
}
.partners .first-row p {
	margin-bottom: 36px;
}
.partners .second-row p {
	margin-bottom: 50px;
}
.hackathon-venues {
	background-color: #f5f9fc;
	padding: 110px 0 80px;
}
.venue-wrapper {
	background-color: #fff;
	overflow: hidden;
}
.venue-wrapper .map iframe {
	width: 100%;
}
.venue-address {
	padding: 20px 15px 25px;
	font-size: 20px;
}
.event-gallery {
	padding: 70px 0;
	background-color: #f5f9fc;
}
.gallery-img-wrapper a img {
	width: 100%;
	display: block;
	border: 1px solid #ebebeb;
}
.gallery-tabs {
	text-align: center;
	margin-bottom: 36px;
	background-color: #fff;
}
.gallery-tabs ul.nav-tabs {
	border-bottom: none;
}
.gallery-tabs li {
	float: none;
	display: inline-block;
}
.gallery-tabs li a {
	border: none;
	display: block;
	color: #333333;
	padding: 25px 40px;
	transition: all 0.4s ease-in-out;
}
.gallery-tabs .nav-tabs>li.active>a, .gallery-tabs .nav-tabs>li.active>a:focus, .gallery-tabs .nav-tabs>li.active>a:hover, .gallery-tabs .nav-tabs>li.active>a, .gallery-tabs .nav-tabs>li.active>a:focus, .gallery-tabs .nav-tabs>li.active>a:hover, .gallery-tabs .nav>li>a:focus, .gallery-tabs .nav>li>a:hover {
	border: none;
	font-weight: 600;
	color: #4b39ac;
	border-bottom: 2px solid #4b39ac;
	transition: all 0.4s ease-in-out;
	background-color: transparent;
}
.event-gallery .gallery-img-wrapper {
	margin-bottom: 35px;
}
/* Blog */
.blog-wrapper, .blog-detail-page {
	background-color: #f5f9fc;
	padding: 30px 0 140px;
}
.blog-wrapper ul li, .blog-detail-page ul li {
	display: block;
	overflow: hidden;
	padding: 58px 0;
	border-bottom: 1px solid #e3e3e3;
}
.blog-wrapper .blog-details, .blog-detail-page .blog-details {
	overflow: hidden;
}
.blog-details .blog-img {
	overflow: hidden;
	border-radius: 10px;
}
.blog-details .blog-description {
	width: 74%;
}
.blog-details .blog-img, .blog-details .blog-description {
	float: left;
}
.blog-details .blog-img img {
	width: 288px;
	background-color: #1c314e;
	height: 237px;
	transition: all 1.5s;
	border-radius: 10px;
}
.blog-details .blog-img img:hover {
	position: relative;
	transform: scale3d(1.08, 1.08, 1.08);
	transition: all 1.5s;
}
.blog-details .blog-description {
	padding-left: 34px;
	overflow: hidden;
}
.blog-description a {
	color: #1b2d48;
	display: block;
	transition: all 0.3s ease-in-out;
	margin-bottom: 26px;
	text-decoration: none;
}
.blog-description a:hover, .blog-description a:focus {
	color: #4b39ac;
	transition: all 0.3s ease-in-out;
}
.blog-description a h1 {
	font-size: 30px;
	line-height: 35px;
	font-weight: bold;
	letter-spacing: -0.20px;
}
.blog-details .blog-description p {
	font-size: 18px;
	color: #6b8191;
	display: -webkit-box!important;
	-webkit-line-clamp: 2;
	-moz-line-clamp: 2;
	-ms-line-clamp: 2;
	-o-line-clamp: 2;
	line-clamp: 2;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-ms-box-orient: vertical;
	-o-box-orient: vertical;
	box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
	height: 60px;
	line-height: 30px;
	margin-bottom: 30px;
}
.blog-description .created-at span, .blog-description .created-at a {
	display: inline-block;
	color: #6b8191;
	font-size: 14px;
}
.blog-description .created-at .seperator {
	padding: 0 15px;
}
.blog-page .hero-bg h1 {
	font-size: 60px;
	top: 50%;
	margin: -33px auto;
}
/* Blog Detail Page */
.blog-detail-page .section-title h1 {
	text-align: left;
}
.blog-detail-wrapper {
	padding: 20px 0 32px;
	border-bottom: 1px solid #e3e3e3;
}
.blog-title h1 {
	font-size: 30px;
	color: #1b2d48;
	font-weight: bold;
	line-height: 30px;
	margin-bottom: 24px;
}
.blog-title p {
	color: #6b8191;
	margin-bottom: 30px;
}
.blog-title a {
	display: inline-block;
	color: #6b8191;
}
.blog-title .seperator {
	color: #9eaab2;
	padding: 0 15px;
}
.blog-bg, .blog-video {
	margin-bottom: 38px;
}
.blog-bg img {
	width: 100%;
	border: 1px solid #ededed;
}
.signup-email h2 {
	color: #1b2d48;
	font-size: 26px;
	font-weight: bold;
	margin-bottom: 26px;
}
.signup-email .form-control {
	border: 1px solid #e9e9e9;
	height: 63px;
	box-shadow: none;
	border-radius: 0;
	padding-top: 10px;
	padding-left: 26px;
	background-color: #fff;
}
.signup-email .form-control:focus, .signup-email .form-control:hover {
	box-shadow: none;
	outline: none;
}
.blog-detail-wrapper .blog-description .tags p {
	text-transform: uppercase;
	margin-bottom: 0;
	line-height: initial;
}
.vertical-center {
	display: table;
	padding-left: 40px;
}
.vertical-center .signup-email {
	display: table-cell;
	vertical-align: middle;
}
.tags ul li {
	display: inline-block;
	border: none;
	padding: 0;
}
.tags ul li a {
	display: block;
	color: #6b8191;
}
.blog-detail-wrapper .blog-description p {
	font-size: 18px;
	color: #6b8191;
	line-height: 31px;
	margin-bottom: 30px;
}
.blog-description h1 {
	font-size: 26px;
	color: #1b2d48;
	margin-bottom: 36px;
	font-weight: bold;
}
.popular-blogs {
	background-color: #fff;
	border: 1px solid #ededed;
	padding: 20px 20px 55px;
}
.blog-detail-page .popular-blogs li {
	padding: 0;
	border: none;
}
.popular-blogs h2 {
	color: #1b2d48;
	margin-bottom: 34px;
	font-size: 26px;
	font-weight: bold;
}
.popular-blogs li a .elipsis-text {
	height: 33px;
}
.popular-blogs .elipsis-text h4 {
	font-size: 14px;
}
.popular-blogs li a {
	color: #1b2d48;
	padding-left: 0;
}
.popular-blogs li.see-all a {
	padding: 0;
	margin-top: 35px;
}
.recommended-for-you {
	padding-top: 70px;
}
/* Social Bar */
.hero-bg .container {
	position: absolute;
	left: 0;
	right: 0;
	top: 16px;
	margin-left: auto;
	padding: 0;
}
.breadcrumb.fixed {
	background-color: transparent;
}
.breadcrumb.fixed li a, .breadcrumb.fixed li.active {
	text-transform: uppercase;
	color: #fff;
}
.breadcrumb.fixed>li+li:before {
	color: #b5b5b5;
	padding: 0 2px;
}
.myaccount-wrapper {
	background-color: #f5f9fc;
	padding-bottom: 38px;
}
.myaccount-wrapper .about-tabs {
	top: 0;
}
.add-photo input[type="file"] {
	display: none;
}
.add-photo {
	position: relative;
	top: -80px;
	display: block;
	width: 146px;
	height: 146px;
	color: #4a2eac;
	font-size: 14px;
	margin: 0 auto;
	text-align: center;
	border-radius: 146px;
	background-color: #f1f1f1;
	border: 1px solid #e6e6e6;
}
.add-photo label {
	height: 100%;
	width: 100%;
	cursor: pointer;
	font-weight: normal;
	border-radius: 146px;
}
.myaccount-wrapper .about-tabs .nav-tabs {
	position: relative;
	top: -45px;
}
.add-photo .inner {
	display: block;
	height: 100%;
	width: 100%;
	border: 10px solid #fff;
	border-radius: 146px;
}
.add-photo label img {
	display: block;
	margin: 0 auto;
}
.add-photo label .center {
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	margin: -36px 0;
}
.account-data.col-md-9 {
	padding-right: 0;
	margin: 14px 0 36px;
}
.profile-strength {
	background-color: #fff;
	padding: 24px 0 0;
}
.profile-strength h1, .profile-strength .strength {
	display: inline-block;
	padding: 0 20px;
	margin-bottom: 22px;
}
.profile-strength .header h1 {
	color: #1c2d48;
	font-size: 26px;
	font-weight: bold;
}
.profile-strength .strength {
	float: right;
}
.profile-strength .strength h3 {
	display: inline-block;
	font-size: 16px;
}
.bold {
	font-weight: bold;
}
.skillbar {
	position: relative;
	display: inline-block;
	width: 175px;
	margin-left: 6px;
	background: #dcdcdc;
	height: 14px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	-webkit-transition: 0.4s linear;
	-moz-transition: 0.4s linear;
	-ms-transition: 0.4s linear;
	-o-transition: 0.4s linear;
	transition: 0.4s linear;
	-webkit-transition-property: width, background-color;
	-moz-transition-property: width, background-color;
	-ms-transition-property: width, background-color;
	-o-transition-property: width, background-color;
	transition-property: width, background-color;
}
.skillbar-bar {
	height: 14px;
	width: 0px;
	background: #491eac;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
.boost-profile {
	background-color: #e8f2f9;
	padding: 18px 22px;
	color: #666666;
}
.boost-profile .border-button {
	display: inline-block;
	border-radius: 5px;
	background-color: #fff;
	font-size: 13px;
	min-width: 160px;
	height: 35px;
	line-height: 35px;
	margin-left: 5px;
}
.boost-profile .border-button:hover, .boost-profile .border-button:focus {
	border: 1px solid #4b28b0;
	background-color: #4b28b0;
	color: #fff;
}
.myaccount-wrapper .update-changes {
	background-color: #fff;
	padding: 15px 0;
	text-align: center;
}
.myaccount-wrapper .update-changes span {
	font-weight: 600;
}
.myaccount-wrapper .update-changes .button {
	display: inline-block;
	min-width: 177px;
	height: 45px;
	line-height: 45px;
	padding: 0;
	border-radius: 5px;
	font-weight: 500;
	font-size: 16px;
	margin-left: 30px;
}
.account-data .panel-group {
	margin-top: 15px;
}
.account-data .panel-default {
	border: none;
	border-radius: 0;
	box-shadow: 0px 3px 7px 0px rgba(229, 229, 229, 0.35);
}
.account-data .panel-heading {
	padding: 0;
}
.account-data .panel-default>.panel-heading {
	background-color: #fff;
	border-color: #e3e3e3;
	border-radius: 0;
}
.account-data .panel-title {
	position: relative;
}
.account-data .panel-title .border-button {
	min-width: 70px;
	border-radius: 5px;
	height: 35px;
	line-height: 35px;
	position: absolute;
	right: 60px;
	top: 18px;
	font-size: 13px;
	padding: 0;
	outline: none;
	box-shadow: none;
}
.account-data .panel-title>a {
	display: block;
	padding: 25px;
	width: 100%;
	color: #333;
	font-weight: 600;
	text-transform: capitalize;
}
.account-data .panel-title>a i {
	float: right;
}
.account-data .panel-title>a[aria-expanded="false"] .up-arrow {
	display: none;
}
.account-data .panel-title>a[aria-expanded="true"] .up-arrow {
	display: inline-block;
}
.account-data .panel-title>a[aria-expanded="true"] .down-arrow {
	display: none;
}
.account-data .panel-default>.panel-heading+.panel-collapse>.panel-body {
	padding: 34px 20px 26px;
}
.account-data .panel-collapse .form-control {
	border-radius: 0;
	background-color: transparent;
	height: 63px;
	line-height: initial;
	border-color: #e9e9e9;
	padding-left: 20px;
	padding-top: 18px;
	box-shadow: none;
	outline: none;
	transition: all 0.3s ease-in-out;
}
.account-data .panel-collapse .form-control:focus {
	border-color: #4c35b0;
	transition: all 0.3s ease-in-out;
}
.account-data .panel-collapse select.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding-top: 0;
	border-radius: 0;
	line-height: initial;
	padding-left: 24px;
}
.account-data .panel-collapse [class*="col-"] {
	padding: 0 5px;
	position: relative;
}
.account-data .action {
	float: right;
	margin-top: 8px;
}
.account-data .action a, .account-data .action .button {
	display: inline-block;
}
.account-data .action a {
	color: #4b28b0;
	margin-right: 26px;
	vertical-align: middle;
	font-size: 14px;
}
.account-data .action .button {
	min-width: 129px;
	height: 45px;
	font-size: 16px;
}
.account-data textarea.form-control {
	min-height: 103px;
	padding-top: 15px;
	resize: none;
}
.account-data .checkbox {
	margin: 20px 0 0 20px;
}
.account-data .expertise .checkbox {
	margin-left: 0;
}
.account-data .expertise .checkbox label {
	color: #666;
}
.account-data .checkbox-group {
	margin-bottom: 26px;
	overflow: hidden;
}
.account-data .checkbox-group .form-group {
	margin-bottom: 0;
}
.account-data .expertise h3 {
	font-size: 16px;
	color: #333333;
}
.account-data .checkbox label {
	color: #999999;
	font-weight: normal;
}
.add-more-education .border-button {
	border-radius: 5px;
	position: relative;
	top: 10px;
	min-width: 189px;
	height: 45px;
	line-height: 45px;
	font-size: 16px;
}
/* Search Page */
.search-result-wrapper {
	background-color: #f5f9fc;
	padding: 20px 0 40px;
}
.search-result-wrapper .about-tabs {
	top: auto;
}
.search-result-wrapper .about-tabs .nav-tabs>li a.active, .search-result-wrapper .about-tabs .nav-tabs>li>a:hover, .search-result-wrapper .about-tabs .nav-tabs>li>a:focus {
	background-color: #f5f9fc;
	color: #4b39ac;
	font-weight: bold;
	border-left: 3px solid #4b39ac;
}
.search-pane {
	margin: 0;
	width: 75%;
	padding: 50px 35px 128px;
}
.search-pane .section-title h1 {
	text-align: left;
}
.search-pane .featured .view-details {
	display: inline-block;
	margin-top: 18px;
}
.search-pane .featured .view-details a {
	min-width: 119px;
	padding: 0;
	font-size: 13px;
	height: 35px;
	line-height: 35px;
}
.search-pane .featured-description {
	padding: 22px 16px;
}
.search-pane .featured {
	max-height: 325px;
	cursor: default;
}
.search-pane .featured:hover, .search-pane .featured:focus {
	border-color: #4c35b0;
}
.search-pane .featured-description p {
	padding: 0;
}
.search-pane .featured-wrapper {
	padding-bottom: 15px;
}
.search-pane #previous-events .col-md-4 {
	padding: 0 15px;
	margin-bottom: 20px;
}
.search-pane .event-wrapper {
	border: 1px solid #ebebeb;
	border-radius: 5px;
	padding: 8px 12px;
}
.search-pane .event-wrapper .event-img {
	margin-right: 7px;
}
.search-pane .event-wrapper .event-desc {
	padding: 8px 0;
}
.search-result-wrapper .sticky-wrapper.is-sticky {
	z-index: 0;
}
.search-pane .featured-wrapper .col-md-4 {
	margin-bottom: 30px;
}
#previuos-events .col-md-4 {
	margin-bottom: 24px;
}
#previuos-events .view-all {
	margin-top: 40px;
}
#previuos-events .view-all .border-button {
	min-width: 242px;
	height: 63px;
	line-height: 63px;
}
#previuos-events .view-all .border-button:hover, #previuos-events .view-all .border-button:focus {
	color: #fff;
}

/* Responsive */

@media(max-width:1100px) {
.navbar-default .navbar-nav>li>a {
	padding: 36.6px 24px;
}
.login-wrapper.vtwo {
	margin: -210.5px auto;
}
.swiper-slide .slide-title h2 {
	font-size: 28px;
}
.container, .navbar-default .container {
	width: initial;
	padding: 0 40px;
}
.swiper-slide .slide-title h1 {
	font-size: 66px;
}
.login-signup {
	padding-left: 24px;
}
.login-form label {
	top: 15px;
}
.login-wrapper.vtwo .login-options {
	margin-top: 10px;
}
.login_signup {
	padding: 14px 24px 14px 24px;
}
.login-wrapper.vtwo .login-form p {
	margin: 7px auto 7px;
}
.login-form .form-control {
	height: 56px;
}
.login-form .button {
	margin-top: 20px;
}
.search-bar {
	margin-left: 30px;
}
.login_signup .nav-tabs {
	margin-bottom: 24px;
}
.swiper-container-home.vtwo .swiper-slide .slide-title, .login-wrapper.vtwo, .swiper-container-home.vtwo .swiper-pagination {
	width: 100%;
	padding: 0 40px;
}
.login-wrapper.vtwo .social-login li a {
	padding: 6px 15px;
}
.tech-media .nav-tabs>li>a {
	padding: 21.5px 50px 21.5px 25px;
}
.companies .company-img img {
	width: 100%;
}
.event-wrapper {
	padding: 8px;
}
.event-wrapper .event-desc {
	padding-left: 4px;
}
.event-wrapper .event-desc h4 {
	font-size: 13px;
}
.registration-form .form-inline .form-container {
	width: 77%;
}
}

@media(max-width:1024px) {
.event-wrapper {
	display: flex;
}
	
.desktop-media {
	display: none;
}
.mobile-media {
	display: block;
}
.all-tech-media {
	height: auto;
	max-height: none;
	margin-bottom: 0;
	overflow: visible;
}
.mobile-media .featured {
	border: none;
	max-height: none;
	box-shadow: 1.545px 4.755px 10px 0px rgba(194, 215, 227, 0.41);
}
.mobile-media .featured-description {
	padding: 15px 10px;
}
.mobile-media .featured-description p {
	padding: 0;
	line-height: 19px;
	text-align: center;
	color: #6c8190;
}
.menu-overlay {
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 120vh;
    background-color: rgba(0,0,0,0.7);
    z-index: 997;
    opacity: 0;
    visibility: hidden;
    display: none;
}
.featured-hackathons .featured-wrapper .col-md-3 {
	padding: 0 10px;
}
.menu-overlay.show {
	    display: block;
    opacity: 1;
    visibility: visible;
    transition: all ease-in-out;
    transition-delay: 10s;
}
.swiper-company .swiper-prev, .swiper-company .swiper-next {
	top: -7px;
}
.hamburger {
	position: absolute;
	left: 20px;
	top: 32px;
}
.event-wrapper .event-img {
	margin-right: 4px;
}
.event-wrapper {
	padding: 6px 12px;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #000;
}
.navbar-toggle {
	display: block;
	margin: 0;
	border: none;
	background: none !important;
}
.navbar-nav {
	padding-top: 0;
}
.navbar-nav.logged-in {
	padding-top: 72px;
}
.navbar-default .navbar-nav>li>a:after, .navbar-default .navbar-nav>li.active>a {
	border-bottom: none;
	color: #f16724;
	content: normal;
}
.login_signup {
	display: none;
}
.navbar>.container .navbar-brand {
	margin-left: 10px;
}
.navbar-default .navbar-collapse {
	position: absolute;
	top: 70px;
	margin: 0;
	left: 0px;
	border-top: 1px solid rgba(0,0,0,0.16);
	background: #fff;
	width: 100%;
	z-index: 999;
	padding: 0px;
}
.navbar-default .navbar-collapse {
	position: fixed;
	width: 85%;
	padding: 0 15px;
	top: 0;
	transform: translateX(-100%);
	transition: transform 0.3s ease;
	overflow: hidden !important;
	max-height: none;
	height: 100% !important;
}
.navbar-default .navbar-collapse.in {
	transform: translateX(0%);
	height: 100% !important;
	transition: transform 0.3s ease;
}
.navbar-default {
	border-bottom: 1px solid rgba(0,0,0,0.16);
}
.navbar-nav {
	float: none;
	background: #fff;
	margin: 0 -15px;
}
.navbar-nav.pull-right {
	float: none !important;
}
.navbar-nav > li {
	float: none;
	width: 100%;
	position: relative;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}
.navbar-default .navbar-nav > li > a, .mobile-sub-nav a, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav>li.profile>a {
	margin: 0px;
	padding: 15px 20px;
	border: 0px;
	width: 100%;
	float: none;
	display: block;
	font-size: 16px;
	color: #000;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > li > a:hover {
	color: #000;
	border: 0px;
}
.navbar-nav .dropdown-menu {
	width: 100% !important;
	padding: 0;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
	border: 0px;
	background: #fff;
	color: #fff;
}
.navbar-nav > li > .dropdown-menu li a {
	display: block;
	color: #000 !important;
	padding: 8px 20px;
	border-bottom: 1px solid rgba(0,0,0,0.15);
	font-size: 15px;
	line-height: 34px !important;
	background: #fff;
}
.navbar-nav > li {
	clear: both;
	content: "";
	display: block;
}
.navbar-nav > li > .dropdown-menu li a:hover.navbar-nav > li > .dropdown-menu li a:focus {
	color: #000;
	background: #fff;
}
}

@media(max-width:768px) {
	
.swiper-company .swiper-prev, .swiper-company .swiper-next {
	display: none;
}
.tech-media .see-all, .see-all {
	padding-left: 22px;
	text-align: left;
	margin-top: 25px;
}
.swiper-container.swiper-container-team {
	padding-bottom: 50px;
}
.member-intro {
	max-height: 118px;
}
.section-title h1 {
	text-align: left;
	margin-bottom: 24px;
}
.featured-hackathons h1, .testimonial h1, .our-team h1, .practise-coding h1, .tech-media .section-title h1 {
	padding-left: 22px;
}
.swiper-company .swiper-pagination {
	display: block;
}
.companies .section-title h1 {
	padding-left: 22px;
}
.event-slider .container {
	padding: 0;
}
.event-slider .swiper-container-events.swiper-container {
	width: 100%;
	padding-left: 22px;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}
.navbar-brand>img {
	width: 100px;
}
.hamburger {
	top: 24px;
}
.navbar-fixed-top {
	border-width: 1px;
}
.login-signup {
	position: absolute;
	right: 20px;
	top: 23px;
	padding: 0;
}
.swiper-slide .slide-title h1 {
	font-size: 44px;
}
.navbar-default, .navbar-brand, header {
	height: 74px;
	min-height: 74px;
}
.swiper-container-home.swiper-container-horizontal>.swiper-pagination-bullets {
	bottom: 15px;
}
.swiper-slide .slide-title {
	margin: -34.5px auto;
}
.practise-coding, .upcoming-events, .featured-hackathons, .our-team, .testimonial, .tech-media {
	padding: 48px 0;
}
.tech-media .container {
	padding: 0;
}
.upcoming-events .register-for-event {
	margin-top: 0;
}
.register-for-event .sponser, .event-description h1, .event-description p {
	margin-bottom: 28px;
}
.swiper-slide .slide-title {
	width: 75%;
}
.swiper-slide .slide-title h2 {
	font-size: 18px;
}
.navbar>.container .navbar-brand {
	margin-left: 24px;
	padding: 16px 15px;
}
.practise-coding .mob-scroller, .featured-wrapper .flex-wrap, .tech-media .flex-wrap {
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	overflow-y: hidden;
	overflow-x: scroll;
	margin: 0;
}
.tech-media .flex-wrap {
	padding-bottom: 10px;
	padding-left: 22px;
}
.practise-coding .container, .companies .container, .featured-hackathons .container, .testimonial .container, .our-team .container {
	padding: 0;
}
.practise-coding .col-md-4:first-of-type, .featured-wrapper .col-md-3:first-of-type {
	padding-left: 22px;
}
.featured-wrapper .col-md-3:last-of-type {
	padding-right: 22px;
}
.swiper-company .swiper-container.swiper-container-companies {
	width: 100%;
}
.swiper-company .swiper-container.swiper-container-companies .swiper-slide:first-of-type {
	margin-left: 22px;
}
.featured-wrapper {
	padding-bottom: 0px;
}
.swiper-company .swiper-container.swiper-container-companies .swiper-slide:last-of-type {
	margin-right: 22px;
}
.practise-coding .col-md-4, .featured-wrapper .col-md-3, .tech-media .col-md-3 {
	float: none;
	flex-basis: 58%;
	padding: 0 22px 0 0;
	flex-shrink: 0;
}
.tech-media .col-md-3 {
	flex-basis: 35%;
}
.featured-image {
	min-height: 96px;
}
.featured-wrapper .col-md-3 {
	flex-basis: 38%;
}
.featured-description {
	padding: 15px;
}
.featured-description p {
	line-height: 17px;
}
.featured-hackathons .featured {
	text-align: center;
}
.featured-description img {
	margin: 0 auto;
}
.testimonial .nav-tabs>li>a:first-of-type {
	margin-left: 0;
}
.start-noticed {
	padding: 42px 0;
}
 .practise-coding .mob-scroller::-webkit-scrollbar, .featured-wrapper .flex-wrap::-webkit-scrollbar, .start-noticed .registration-form, .tech-media .flex-wrap::-webkit-scrollbar {
 display: none;
}
.testimonial .tab-content {
	padding-bottom: 0;
}
.start-noticed .section-title h1 {
	text-align: center;
	margin-bottom: 0;
}
.event-wrapper .event-desc h4 {
	white-space: nowrap;
}
.swiper-container-testimonial .swiper-wrapper, .swiper-container-team .swiper-wrapper {
	padding-left: 22px;
}
.swiper-container-testimonial .swiper-slide {
	margin-right: 10px;
}
.swiper-event .swiper-prev, .swiper-event .swiper-next {
	display: none;
}
.client-info {
	display: flex;
	display: -webkit-flex;
}
.client-name p {
	white-space: nowrap;
}
.footer {
	padding: 24px 0;
}
.footer .row {
	display: none;
}
.footer .copyright {
	margin-top: 0;
	font-size: 16px;
}
	.mob-btn
	{
		display: block;
		margin-top: 20px;
	}
	.border-button:hover, .border-button:focus{
		background-color: #fff;
		color: #4c35b0;
	}
	.search-bar
	{
		margin-left: 0;
    display: block;
    margin-bottom: 60px;
	}
	.search-bar input
	{
		min-width: initial;
		width: 100%;
	}
}

@media(max-width:600px) {
.hamburger {
	left: 15px;
}
.login-wrapper, .overlay {
	display: none !important;
}
.event-description h1 {
	font-size: 20px;
	margin-bottom: 18px;
	margin-top: 8px;
	font-weight: 600;
}
.swiper-slide .slide-title {
	margin: -30.5px auto;
}
.testimonial .nav-tabs>li>a {
	padding-top: 0;
}
.member-name p {
	line-height: 18px;
}
.start-noticed .section-title h1 {
	font-size: 22px;
	font-weight: bold;
	line-height: 30px;
}
.swiper-container-home.swiper-container-horizontal>.swiper-pagination-bullets {
	bottom: 10px;
}
.swiper-slide .slide-title h1 {
	font-size: 30px;
}
.member-img img {
	width: 94px;
	height: 94px;
}
.client-feeback {
	border-radius: 10px;
}
.container {
	padding: 0 22px;
}
.swiper-slide .slide-title h2 {
	font-size: 15px;
}
.section-title h1 {
	margin-bottom: 36px;
	font-weight: 600;
	font-size: 20px;
}
.swiper-slide .slide-title {
	width: 85%;
}
.practise-coding .col-md-4 {
	flex-basis: 90%;
}
.featured-wrapper .col-md-3, .tech-media .col-md-3 {
	flex-basis: 56%;
}
	
}

@media(max-width:414px) {
.companies, .practise-coding, .upcoming-events, .featured-hackathons, .our-team, .testimonial, .tech-media {
	padding: 36px 0;
}
	.navbar-default .navbar-toggle
	{
		padding: 0;
	}
	.navbar>.container .navbar-brand
	{
		margin-left: 8px;
	}
	
	.member-name
	{
		padding: 14px 0;
	}
	.client-info,.member-name h4
	{
		margin-bottom: 5px;
	}
	.grid-box
	{
		padding: 30px 24px;
	}
	.footer .copyright
	{
		font-size: 12px;
	}
	.member-intro
	{
		font-size: 12px;
		line-height: 20px;
	}
	.feedback
	{
		font-size: 16px;
	}
	.grid-title, .grid-box .description
	{
		margin-bottom: 20px;
	}
	.hamburger
	{
		top: 32px;
	}
	.event-description p
	{
		font-size: 16px;
	}
.section-title h1 {
	max-width: 320px;
	margin-bottom: 26px;
}
.featured-wrapper .col-md-3, .tech-media .col-md-3 {
	flex-basis: 75%;
}
}
